[Unit]
Description=PiRowFlo OLED screen, joystick and 3 buttons
After=network.target

[Service]
User=pi
Group=pi
ExecStart=/home/pi/pirowflo/venv/bin/python3 /home/pi/pirowflo/src/adapters/screen/oled.py
KillMode=process

[Install]
WantedBy=multi-user.target