[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target bluetooth.target

[Service]
ExecStart=/home/pi/pirowflo/venv/bin/supervisord -n -c /home/pi/pirowflo/services/supervisord.conf
ExecStop=/home/pi/pirowflo/venv/bin/supervisorctl shutdown
ExecReload=/home/pi/pirowflo/venv/bin/supervisorctl reload
KillMode=process
Restart=on-failure
RestartSec=50s

[Install]
WantedBy=multi-user.target